@keyframes slideIn
  from
    left: -5rem

  to
    left: 0

.bottom-menu-fixed
  position: fixed
  bottom: 0
  left: 0
  right: 0
  height: $return__height * 1.2
  z-index: 99900
  box-sizing: border-box
  overflow: hidden

  &__ul
    display: grid
    grid-template-columns: repeat(4, auto)
    justify-items: start
    justify-content: space-evenly
    height: $return__height

    & > li
      min-width: 3rem
      height: 100%
      transition: $main-transition

    & > li > a
      width: 100%
      height: 100%
      color: $color__black
      @include flex(center, center, row)

      & > div
        overflow: hidden
        width: min-content
        padding-right: 0.25rem
        box-sizing: border-box

      & > div > span
        margin-left: .25rem
        position: relative
        animation-name: slideIn
        animation-duration: .4s
        animation-timing-function: cubic-bezier(0.5, 0.25, 0.35, 1.3)
        animation-fill-mode: both

  &__inner-bg
    width: 100%
    height: $return__height
    background-color: $color__white
    position: fixed
    bottom: 0
    z-index: -1
    pointer-events: none

    &.dark-mode
      background-color: $color__dark-grey

  &__wave
    width: 100%
    position: fixed
    bottom: $return__height - 1rem
    z-index: -2
    filter: drop-shadow(0 0 1rem transparentize($color__black, .5))

@media only screen and (max-width: $breakpoint-small)
  .bottom-menu-fixed
    height: $return__height