.card
  width: 100%
  min-height: 9rem
  margin-top: $padding__xs
  display: grid
  grid-template-columns: 100% 5rem
  column-gap: $gap__m
  transition: $transition-bezier

  &:first-child
    margin-top: 0

  &__wrap
    @include card-settings($padding__xxs, $padding__xxs)
    display: grid
    grid-template-columns: auto 20%
    min-height: 7.5rem
    column-gap: $gap__l

  &__text
    width: 100%
    display: grid
    grid-template-rows: auto auto

  &__location
    margin:
      top: 0
      bottom: $padding__xxxs
    line-height: 100%

    & > span
      text-transform: uppercase
      font-size: 1.5rem

  &__data-cont
    display: grid
    grid-template-columns: auto auto auto
    column-gap: $gap__xs

  &__date-state
    display: grid
    grid-template-rows: auto auto
    align-items: center

  &__date,
  &__state
    margin: 0

  &__state
    line-height: .8rem
    text-transform: capitalize

  &__temperature
    border-left: 1px solid $color__grey
    border-right: 1px solid $color__grey
    @include flex(center, center, row)

  &__temperature > p
    font-size: 1.5rem
    margin: 0
    padding:
      left: $padding__xxxs
      right: $padding__xxxs
    box-sizing: border-box

  &__wind-humidity
    display: grid
    grid-template-rows: auto auto
    align-items: center

    & > div > p
      margin: 0

    & > div > i
      font-size: .6rem

  &__wind,
  &__humidity
    display: grid
    grid-template-columns: auto auto
    justify-content: left
    align-items: center
    column-gap: $gap__xxs

  &__image
    display: grid
    place-content: center

    & > img
      width: 4rem
      height: auto

  &__btn-delete
    width: 4rem
    height: 100%
    background-color: $color__red
    display: grid
    place-content: center

    & > i
      color: $color__white

.slide-card-enter-from
  opacity: .5%
  transform: translateY(5%)

.slide-card-enter-to
  opacity: 1
  transform: translateY(0)

.slide-card-enter-active,
.slide-card-leave-active
  transition: $transition-bezier

.slide-card-leave-from
  opacity: .5
  transform: translateY(0)

.slide-card-leave-to
  opacity: 0
  transform: translateY(-5%)