.main-weather-result
  width: 100%
  @include padding-inline-mobile
  height: 50vh
  display: grid
  align-items: center
  margin-top: $padding__m

  &__wrap
    height: 100%
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr auto
    align-items: center
    justify-items: center
    z-index: 1

  &__text
    width: 100%
    display: grid
    justify-items: center
    align-self: end
    position: relative
    padding-bottom: $padding__l

  &__temperature
    width: 100%
    font-size: 6rem
    font-weight: 300
    margin: $padding__xxxs 0
    line-height: 100%
    box-sizing: border-box

  &__state
    text-transform: capitalize
    margin: 0
    height: 1.5rem
    box-sizing: border-box

  &__state-info
    display: grid
    grid-template-columns: auto auto
    justify-content: end
    margin: 0 auto
    border-radius: 1rem
    padding:
      top: $padding__xxxs
      bottom: $padding__xxxs
    column-gap: $gap__m

  &__state-info > p
    margin: 0
    @include flex(center, center, row)

    & > i
      font-size: inherit
      margin-right: .25rem

  &__image
    width: 75%
    @include flex(center,center,row)
    align-self: end
    padding-bottom: $padding__xl

  &__alert
    width: 100%
    opacity: .8
    grid-column: 1/3
    align-self: end

    &-body
      margin:
        top: $padding__xxxs
        bottom: 0

      & > i
        font-size: .8rem

    &-source
      margin: 0
