.main-weather-result
  width: 100%
  padding-top: $padding__s
  @include padding-inline-mobile
  height: auto

  &__wrap
    @include flex(center, center, column)
    z-index: 1

  &__text
    position: relative
    z-index: 5

  &__text > h1
    font-weight: 300
    margin: 0
    line-height: 100%

  &__date
    margin: 0
    padding-bottom: $padding__xxxs

  &__temperature
    font-size: 6rem
    font-weight: 300
    margin: 0
    line-height: 100%

  &__state
    text-transform: capitalize
    margin: 0
    height: 1.5rem

  &__state-info
    width: 40%
    display: grid
    grid-template-columns: auto auto
    justify-content: center
    margin: 0 auto
    border-radius: 1rem
    padding:
      top: $padding__xxxs
      bottom: $padding__xxxs
    column-gap: $gap__m

  &__state-info > p
    margin: 0
    @include flex(center, center, row)

    & > i
      font-size: inherit
      margin-right: .25rem

  &__image
    width: 40%
    margin-bottom: $padding__xxs

    & > img
      fill: $color__white