.main-background
  width: 100%
  height: 100vh
  position: fixed
  @include pin(0,0,0,0)
  //background-image: linear-gradient(180deg, $color__water-blu, $color__blue)
  background-image: url("../img/bg-day.png")
  background-size: cover
  z-index: -1
  pointer-events: none