.main-weather-result
  width: 100%
  padding-top: $padding__s
  @include padding-inline-mobile
  height: auto

  &__wrap
    @include flex(center, center, column)
    z-index: 1

  &__text
    width: 100%
    position: relative

  &__text > h1
    width: 100%
    font-weight: 300
    margin: 0
    line-height: 100%

  &__temperature
    width: 100%
    font-size: 6rem
    font-weight: 300
    margin: $padding__xxxs 0
    line-height: 100%
    padding-left: 2.2rem
    box-sizing: border-box

  &__state
    text-transform: capitalize
    margin: 0
    height: 1.5rem

  &__state-info
    width: 40%
    display: grid
    grid-template-columns: auto auto
    justify-content: center
    margin: 0 auto
    border-radius: 1rem
    padding:
      top: $padding__xxxs
      bottom: $padding__xxxs
    column-gap: $gap__m

  &__state-info > p
    margin: 0
    @include flex(center, center, row)

    & > i
      font-size: inherit
      margin-right: .25rem

  &__image
    width: 30%
    margin-bottom: $padding__xxs