.notification
  position: fixed
  top: 1.5rem
  left: 0
  right: 0
  @include padding-inline-mobile
  height: 4rem
  @include flex(flex-start,center,row)
  background-color: transparentize($color__grey, .2)
  margin: 0 $padding__xxs
  border-radius: $border-radius-s

  & > ul
    width: 100%
    height: 100%

    & > li
      width: 100%
      height: 100%
      @include flex(flex-start,center,row)
