.return
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 99999
  height: $return__height
  display: grid
  transition: $main-transition

  &__title
    display: grid
    align-items: center
    box-sizing: border-box
    text-align: center
    margin: 0
