.return
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 99999
  height: $return__height
  display: grid
  grid-template-columns: 4rem auto

  &__title
    display: grid
    place-content: center
    padding-right: $padding__l
    box-sizing: border-box