.weather-seven-days
  width: 100%
  margin-top: $padding__xl

  &__title
    margin: 0

  &__wrap
    width: 100%
    display: grid
    grid-template-columns: 25% auto auto 4rem
    justify-content: space-between
    align-items: center
    @include card-settings($padding__xxxs, $padding__xxs)
    margin-top: $padding__xs

    &:first-child
      margin-top: $padding__xxs

  &__day
    text-transform: capitalize

  &__image
    width: 2.5rem
    margin-left: auto

  &__temperature
    text-align: center
    display: grid
    grid-template-columns: auto auto
    column-gap: $gap__xs

    & > i
      font-size: .8rem