.weather-seven-days
  width: 100%
  margin-top: $padding__xl

  &__wrap
    width: 93%
    display: grid
    grid-template-columns: 35% 2rem 2rem 2rem
    justify-content: space-between
    align-items: center
    @include wrap-box-background($padding__xxxs, $padding__xxs)
    margin-top: $padding__xs

  &__image
    position: absolute
    width: 4.2rem
    top: 0
    right: -2rem
    z-index: 1

  &__temperature
    text-align: center