.weather-by-hour
  width: calc(100% + $padding__s)
  position: relative
  left: - $padding__xxs
  height: auto
  margin-top: $padding__l

  &__title
    margin: 0
    @include padding-inline-mobile

  &__items-wrap
    @include flex(flex-start,center,row)
    flex-wrap: nowrap
    overflow-x: auto
    @include padding-inline-mobile

  &__item
    width: 5rem
    height: 8rem
    @include flex(space-between, center, column)
    @include card-settings($padding__xxxs, $padding__xxs)
    margin:
      top: $padding__xxs
      bottom: $padding__xxs
    border-right: none

    &:last-child
      border-right: $main-border

    & > p
      width: 2.5rem
      margin: .25rem 0
      text-align: center

    & > p:nth-child(3)
      margin: 0

  &__icon
    width: 2.2rem
    @include flex(center,center,row)

    & > img
      width: 100%
