.weather-by-hour
  width: 100%
  height: auto
  margin-top: $padding__s

  &__title
    margin: 0
    @include padding-inline-mobile

  &__items-wrap
    @include flex(flex-start,center,row)
    flex-wrap: nowrap
    overflow-x: auto
    @include padding-inline-mobile

  &__item
    width: 4.5rem
    height: 6.5rem
    @include card-settings($padding__xxxs, $padding__xxs)
    margin:
      top: $padding__xxs
      bottom: $padding__xxs
    border-right: none

    &:first-child
      height: 7rem
      background-color: transparentize($color__white, .4)
      position: relative
      border-right: $main-border

    &:nth-child(2)
      border-left: none

    &:last-child
      margin-right: 0
      border-right: $main-border

    & > p
      margin: .25rem 0
      text-align: center

  &__icon
    width: 2.2rem
    @include flex(center,center,row)

    & > img
      width: 100%