// Mixins

@mixin pin($top, $right, $bottom, $left)
    top: $top
    right: $right
    bottom: $bottom
    left: $left

@mixin flex($justify, $align, $direction)
    display: flex
    justify-content: $justify
    align-items: $align
    flex-direction: $direction

@mixin bgImg($img, $position-x, $position-y, $size, $repeat)
    background-image: $img
    background-position-x: $position-x
    background-position-y: $position-y
    background-size: $size
    background-repeat: $repeat

@mixin animation($name, $duration, $fill)
    animation-name: $name
    animation-duration: $duration
    animation-timing-function: ease-in-out
    animation-fill-mode: $fill

@mixin centerX
    margin:
        right: auto
        left: auto

@mixin centerY
    margin:
        top: auto
        bottom: auto


@mixin icon($utf)
    font-family: "icons", sans-serif
    display: inline-flex
    justify-content: center
    align-items: center
    font-size: 1.3rem

    &::before
        content: $utf
        speak: none
        font-size: 100%
        font-style: normal
        font-weight: normal
        font-variant: normal
        text-transform: none
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        padding:
            left: 1px
            right: 1px

@mixin padding-inline-mobile
    padding:
        left: $padding__xxs
        right: $padding__xxs
    box-sizing: border-box

@mixin wrap-box-background($p-block,$p-inline)
    position: relative
    height: fit-content
    @include pin(0,0,0,0)
    border-radius: 1rem
    background-color: rgba(250, 250, 250, 0.4)
    backdrop-filter: blur(4px)
    padding:
        top: $p-block
        right: $p-inline
        bottom: $p-block
        left: $p-inline
    box-sizing: border-box

    &::after
        content: ''
        position: absolute
        @include pin(0,0,0,0)
        border-radius: 1rem
        pointer-events: none
        box-shadow: -.5rem -.5rem .8rem -.5rem rgba(255, 255, 255, 0.4), -.3rem -.3rem .5rem -.2rem rgba(255, 255, 255, 0.55), -.1rem -.1rem .2rem -.08rem rgba(255, 255, 255, 0.7), .1rem .1rem .2rem -.1rem rgba(35, 35, 35, 0.6), .3rem .3rem .5rem -.2rem rgba(35, 35, 35, 0.4), .5rem .5rem 1rem -.5rem rgba(35, 35, 35, 0.4)
        -webkit-box-shadow: -.5rem -.5rem .8rem -.5rem rgba(255, 255, 255, 0.4), -.3rem -.3rem .5rem -.2rem rgba(255, 255, 255, 0.55), -.1rem -.1rem .2rem -.08rem rgba(255, 255, 255, 0.7), .1rem .1rem .2rem -.1rem rgba(35, 35, 35, 0.6), .3rem .3rem .5rem -.2rem rgba(35, 35, 35, 0.4), .5rem .5rem 1rem -.5rem rgba(35, 35, 35, 0.4)