// Global variables

// COLORS
$color__white: #ffffff
$color__black: #141414

$color__grey: #4f4f4f

$color__yellow: #f7e926

$color__water-blu: #179d87
$color__light-blue: #1c9cf6
$color__blue: #0c2b57
$color__dark-blue: #070b16

$color__red: #e2122a
//$color__red: #ed1d1d

// SIZES

// padding or margin
$padding__xxxl: 10rem
$padding__xxl: 8rem
$padding__xl: 6rem
$padding__l: 4rem
$padding__m: 3rem
$padding__s: 2rem
$padding__xs: 1.5rem
$padding__xxs: 1rem
$padding__xxxs: .5rem

// space between
$gap__xxxl: 4rem
$gap__xxl: 3rem
$gap__xl: 2rem
$gap__l: 1.5rem
$gap__m: 1rem
$gap__s: .75rem
$gap__xs: .5rem
$gap__xxs: .25rem

// Box shadow

// Border radius

// Transition
$main-transition: .3s ease-in-out

// Return
$return__height: 4rem