// Global variables

// COLORS
$color__white: #ffffff
$color__black: #000000

// SIZES

// Padding
$padding__10: 10rem
$padding__8: 8rem
$padding__6: 6rem
$padding__4: 4rem
$padding__2: 2rem
$padding__1-5: 1.5rem
$padding__1: 1rem
$padding__-75: .75rem
$padding__-5: .5rem
$padding__-25: .25rem

// Margin
$margin__10: 10rem
$margin__8: 8rem
$margin__6: 6rem
$margin__4: 4rem
$margin__2: 2rem
$margin__1-5: 1.5rem
$margin__1: 1rem
$margin__-75: .75rem
$margin__-5: .5rem
$margin__-25: .25rem
$margin__-05: .05rem

// Box shadow

// Border radius

// Transition
