// Global variables

// COLORS
$color__white: #f5f5f5
$color__black: #202020

$color__grey: #4f4f4f

$color__main-orange: #e87c1a
$color__water-blu: #b4faf0
$color__water-blu: #89c9c0
$color__light-blue: #6aa79f
$color__blue: #1f5750
$color__dark-blue: #071412

// air pollution palette
$color__green: #2ec92e
$color__yellow: #c7bf26
$color__orange: #c76e26
$color__burgundy: #a7075c

$color__red: #e2122a

$linear__gradient__air__pollution: linear-gradient(90deg, $color__green, $color__yellow, $color__orange, $color__red, $color__burgundy)

// SIZES

// padding or margin
$padding__xxxl: 10rem
$padding__xxl: 8rem
$padding__xl: 6rem
$padding__l: 4rem
$padding__m: 3rem
$padding__s: 2rem
$padding__xs: 1.5rem
$padding__xxs: 1rem
$padding__xxxs: .5rem

// space between
$gap__xxxl: 4rem
$gap__xxl: 3rem
$gap__xl: 2rem
$gap__l: 1.5rem
$gap__m: 1rem
$gap__s: .75rem
$gap__xs: .5rem
$gap__xxs: .25rem

// Box shadow

// Border
$main-border: 1px solid transparentize($color__white, .5)

// Border radius
$border-radius-s: .8rem
$border-radius-m: 1.5rem

// Transition
$main-transition: .3s ease-in-out
$transition-bezier: .5s cubic-bezier(0.5, 0.25, 0.35, 1.3)

// Return
$return__height: 4rem