.favorite
  height: 100%
  padding:
    top: $return__height * 2
    bottom: $padding__xl
  @include padding-inline-mobile
  overflow-x: hidden

  & > article:first-child
    margin-top: 0

  &__no-results

    &-img
      width: 15%
      @include centerX

.allow-delete-favorite
  transform: translateX(-16%)