.top-bar
  width: 100%
  box-sizing: border-box
  padding:
    top: $return__height
    left: $padding__xxs
    right: $padding__xxs

  &__wrap
    display: grid
    grid-template-columns: 60% 3rem
    justify-content: space-between
    align-items: center