// Global base styles

@font-face
  font-display: swap

body
  height: 100vh
  font-family: Niramit, sans-serif
  overflow-x: hidden
  color: $color__white
  background-image: linear-gradient(180deg, $color__water-blu, $color__blue)

main
  height: 100%
  position: fixed
  @include pin(0,0,0,0)
  overflow: auto

.app
  height: 100%


.container
  box-sizing: border-box
  padding:
    left: $padding__xxs
    right: $padding__xxs
    bottom: $padding__xxxl
