// Global base styles

@font-face
  font-display: swap

body
  height: 100vh
  font-family: Telegraf, sans-serif
  padding-bottom: $padding__xxxl
  background-color: $color__dark-blue

.container
  box-sizing: border-box
  padding:
    left: $padding__xxs
    right: $padding__xxs

.mt-8
  margin-top: $padding__xxl