// Import font face

// Font DM sans
@font-face
  font-family: 'Telegraf'
  font-weight: 400
  src: url("../fonts/Telegraf-Regular.woff2") format('woff2')

@font-face
  font-family: 'Telegraf'
  font-weight: 600
  src: url("../fonts/Telegraf-UltraBold.woff2") format('woff2')

@font-face
  font-family: 'icons'
  src: url("../fonts/font-icons.woff2") format('woff2')