// Import font face

// Font DM sans
@font-face
  font-family: 'Niramit'
  font-weight: 300
  src: url("../fonts/Niramit-Light.woff2") format('woff2')

@font-face
  font-family: 'Niramit'
  font-weight: 400
  src: url("../fonts/Niramit-Regular.woff2") format('woff2')

@font-face
  font-family: 'Niramit'
  font-weight: 600
  src: url("../fonts/Niramit-SemiBold.woff2") format('woff2')

@font-face
  font-family: 'weather-icons'
  src: url("../fonts/font-weather-icons.woff2") format('woff2')

@font-face
  font-family: 'icons'
  src: url("../fonts/font-icons.woff2") format('woff2')