.light-mode
  color: $color__white

.dark-mode
  color: $color__black

.dark-mode-card-bg-color,
.dark-mode-card-bg-color.weather-seven-days__wrap:last-child
  background-color: transparentize($color__black, .65)
  border-color: transparentize($color__black, .5)

  &.weather-by-hour__item:first-child,
  &.weather-seven-days__wrap:first-child
    background-color: transparentize($color__black, .4)
    border-right-color: transparentize($color__black, .5)

  &.weather-details-grid__sun-arc-cont
    border-bottom-color: transparentize($color__white, .5)
    background-color: transparent

.dark-mode-bg-top-bar
  background-color: transparentize($color__black, .65)