// Global typography styles

// Headlines

.title-xl
  font-family: Niramit, sans-serif
  font-weight: 400
  font-size: 6rem
  line-height: initial

.title-l
  font-family: Niramit, sans-serif
  font-weight: 400
  font-size: 4rem
  line-height: initial


.title-m
  font-family: Niramit, sans-serif
  font-weight: 600
  font-size: 3.2rem
  line-height: initial

.title-s
  font-family: Niramit, sans-serif
  font-weight: 600
  font-size: 2.2rem
  line-height: initial

.title-xs
  font-family: Niramit, sans-serif
  font-weight: 600
  font-size: 1.6rem
  line-height: initial

.title-xxs
  font-family: Niramit, sans-serif
  font-weight: 600
  font-size: 1.2rem
  line-height: 100%

// Subtitles

.subtitle-s
  font-family: Niramit, sans-serif
  font-weight: 600
  font-size: 1.06rem
  line-height: 100%

.subtitle-xs
  font-family: Niramit, sans-serif
  font-weight: 600
  font-size: .9rem
  line-height: 100%

// Body text

.text-m
  font-size: 1.2rem

.text-s
  font-size: 1rem

.text-xs
  font-size: .9rem

.text-xxs
  letter-spacing: 1.2px
  font-size: .7rem

.text-xxxs
  letter-spacing: 1.2px
  font-size: .55rem

.text-bold
  font-weight: 600

.text-center
  text-align: center

.text-end
  text-align: end

// text color

.text-black
  color: $color__black

.text-grey
  color: $color__grey

.text-white
  color: $color__white

.text-red
  color: $color__red

.text-green
  color: $color__green

.text-light-blue
  color: $color__light-blue

.text-rain-blue
  color: $color__rain-blue

.text-purple
  color: $color__purple

// Button text

//.text-button
  font-family: Montserrat, sans-serif
  font-weight: 600
  font-size: .8rem
  text-transform: uppercase